/* General Styles */
body {
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-height: 100vh;
	margin: 0;
}

label {
	margin-bottom: 2px;
}

.header {
	width: 100%;
}

.btn:focus, .btn-secondary:focus {
	box-shadow: unset;
}

.header .acc-btn {
	display: block;
	margin-left: 4px;
	padding: 8px;
	color: #fff;
}

.header .user-tools {
	display: flex;
	align-items: center;
}

.user-tools .btn {
	padding: 4px 10px;
}

.user-tools .dropdown-menu {
	min-width: 360px;
	left: unset;
	top: calc(100% + 8px);
	right: 0;
}

.user-tools .small-dropdown {
	 min-width: 120px;
}

.user-tools .dropdown-item {
	padding: 8px 16px;
}

.user-tools .dropdown-item:hover {
	background-color: #f8f9fa;
}

.dropdown-item .btn {
	display: flex;
	align-items: center;
	width: 100%;
}

.notification-unread {
	background-color: #e9ecef;
}

.number-notifications {
	position: absolute;
	top: -20%;
	right: -20%;
	width: 18px;
	height: 18px;
	line-height: 18px;
	text-align: center;
	background-color: #ff1d04;
	color: #fff;
	font-size: 12px;
	border-radius: 50%;
}

.no-notifications {
	margin: 36px 12px;
	text-align: center;
}

.notification-image {
	height: 40px;
}

.notification-content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 8px;
}

.notification-content .notification-message {
	margin: 0;
}

.notification-content .notification-date {
	font-size: 10px;
}

.all-notifications-list {
	padding: 0;
}

.all-notifications-list li {
	list-style-type: none;
	margin: 8px 0;
	border-radius: 6px;
}

.all-notifications-list li:hover {
	background-color: #f8f9fa;
}

.all-notifications-list .btn {
	display: flex;
	align-items: center;
	width: 100%;
}

.all-notifications-list .notification-image {
	height: 50px;
}

.all-notifications-list .notification-content {
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.mark-all-read {
	font-size: 14px;
}

.register-btn {
	display: block;
	width: 100%;
	margin-top: 8px;
}

.footer {
	margin-top: 40px;
	padding: 12px;
	width: 100%;
	background-color: #343A40;
	text-align: center;
}

.footer p {
	margin: 0;
	color: #fff;
}

/* Placeholder */
::placeholder {
	font-style: italic;
}

/* Title */
.page-title {
	font-weight: bold;
	margin-top: 40px;
	margin-bottom: 20px;
	text-align: center;
}

.list-title {
	margin-top: 20px;
	text-align: center;
}

/* Toolbar */
.toolbar {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.toolbar .search-bar {
	display: flex;
	justify-content: flex-end;
	margin-left: auto;
}

.toolbar .search-bar .btn {
	margin-right: 8px;
}

/* Table */
.table {
	margin-top: 20px;
	width: 100%;
	table-layout: fixed;
}

.table thead {
	background-color: #343A40;
}

.table thead th {
	vertical-align: middle;
	border-color: #454d55;
	color: #fff;
	text-align: left;
}

.table thead th:first-child {
	width: 400px;
}

.table thead th:not(.unsort-column):hover {
	cursor: pointer;
	text-decoration: underline;
	color: #fff;
}

.table tbody td {
	padding: 6px 12px;
	vertical-align: middle;
}

.user-table {
	width: auto !important;
}

/* Table Images and Links */
.table tbody .image {
	height: 50px;
	margin-right: 4px;
	border-radius: 4px;
}

.table tbody .item-link {
	display: block;
	height: 100%;
	width: 100%;
	text-decoration: none;
	color: #212529;
}

.table tbody .item-link:hover strong {
	text-decoration: underline;
}

.table-details th {
	width: 160px;
}

.normal-table th {
	width: auto !important;
}

/* Pagination Bar */
.pagination-bar {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Card */
.card {
	margin-top: 20px;
}

.card .card-body {
	text-align: center;
}

.card .card-body img {
	width: 120px;
	height: 120px;
	border-radius: 8px;
	margin-bottom: 12px;
	object-fit: cover;
}

.category-toolbar label {
	margin-right: 6px;
}

.category-toolbar .btn {
	margin-left: 6px;
}

.category-toolbar .select2-container {
	width: 320px !important;
}

/* Select */
.select2-container--default .select2-search--inline .select2-search__field
	{
	height: 26px;
}

.select2-container--default .select2-selection--single {
	height: 38px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered
	{
	line-height: 38px;
}

/* Action buttons */
.action-details {
	display: flex;
	justify-content: center;
}

.action-details .btn {
	margin: 0 4px;
}

/* Alert bar */
.alert {
	position: fixed;
	top: 60px;
	right: 20px;
}

/* Modal filter */
.modal label {
	display: block;
}

.name-filter, .price-filter, .date-filter, .players-filter,
	.categories-filter {
	display: flex;
	margin-bottom: 12px;
	align-items: center;
}

.categories-filter .select2-container {
	width: 100% !important;
}

.from-to-icon {
	margin: 0 8px;
}

/* Game Images */
.image-preview-container {
	display: flex;
	position: relative;
	overflow-x: auto;
	gap: 10px;
	width: 100%;
	flex-wrap: nowrap;
}

.image-preview {
	position: relative;
	display: inline-block;
	min-width: 160px;
	height: 90px;
	overflow: hidden;
}

.image-preview img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.remove-image-btn {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 4px;
	cursor: pointer;
	opacity: 0;
	transition: opacity 0.3s;
}

.image-preview:hover .remove-image-btn {
	opacity: 1;
}

.slideshow-img {
	display: block;
	width: 100%;
}

.table .game-thumbnail {
	position: relative;
	text-align: center;
}

.see-images-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.3);
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s ease;
}

.see-images-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 24px;
	color: #fff;
	font-weight: bold;
	font-size: 24px;
}

.table .game-thumbnail:hover .see-images-overlay {
	opacity: 1;
	cursor: pointer;
	visibility: visible;
}