<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Add/Edit Category</title>

<!-- Styles -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/styles.css">

</head>

<body>
	<div th:replace="~{fragments/header :: header}"></div>
	<script src="/js/navigation.js"></script>

	<main class="container">
		<h1 class="page-title">Add/Edit Category</h1>

		<form
			th:action="${category.categoryId == null} ? @{/categories} : @{/categories/{id}(id=${category.categoryId})}"
			th:object="${category}" method="post">

			<div class="form-group">
				<label for="categoryName">Name</label>
				<input type="text" class="form-control" id="categoryName"
					th:field="*{categoryName}" placeholder="Enter category name"
					required />
			</div>

			<div class="form-group">
				<label for="categoryDescription">Description</label>
				<textarea class="form-control" id="categoryDescription"
					th:field="*{categoryDescription}"
					placeholder="Enter category description"></textarea>
			</div>

			<div class="form-group">
				<label for="categoryImage">Image</label>
				<input type="text" class="form-control" id="categoryImage"
					th:field="*{categoryImage}" placeholder="Enter image URL" />
			</div>

			<button type="submit" class="btn btn-primary btn-block"
				onclick="return confirm('Are you sure about that?');">Save</button>
		</form>
	</main>

	<div th:replace="~{fragments/footer :: footer}"></div>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>